@font-face {
    font-family: 'googlesans';
    src: url('fonts/Product\ Sans\ Regular.ttf');
}

@font-face {
    font-family: 'nsmbu';
    src: url('fonts/New\ Super\ Mario\ Font\ U.ttf');
}

@font-face {
    font-family: 'roboto-thin';
    src: url('fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'robotocondensed';
    src: url('fonts/RobotoCondensed-Light.ttf');
}

.foot {
    background-color: #3a3a3a;
    text-align: center;
    color: white;
    padding: 20px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.foot2 {
    margin-top: 50px;
    background-color: #3a3a3a;
    text-align: center;
    color: white;
    padding: 20px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}