@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: 600;
}

@media only screen and (max-width: 500px) {
    header {
        font-size: 20px;
        display: block;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .mainpagearticle {
        text-align: center;
    }

    .mpahead {
        font-size: 20px;
    }

    .ihead {
        margin: 0px 10px;
        font-size: 25px;
    }

    .itxt {
        font-size: 14px;
        text-align: center;
        padding: 30px 15px;
    }

    /* THIS REQUIRES OPTIMIZATION!! */

    .newestprojects {
        margin: 30px 15px !important;
    }

    .abtxt {
        font-size: 16px !important; 
        padding: 20px !important;
    }

    .ccontainer {
        margin: 100px 30px !important;
    }

    .numgraph {
        display: none;
    }

    .cutxt {
        padding-top: 100px;
        font-size: 30px !important;
    }

    .cuimg {
        margin: 0px 0px !important;
        height: 100px !important;
    }

    .carrierhead {
        padding-top: 50px;
        font-size: 30px !important;
    }

    .container {
        margin: 100px 20px;
    }

    .newstext, .efv-news-smoll-italic {
        font-size: 14px;
    }

    .projhref, .showicon {
        height: 100px !important;
    }

    .projectsitehead {
        font-size: 30px !important;
    }

    .copyright {
        font-family: "Montserrat" !important;
        font-size: 12px !important;
    }

    .orgastruct {
        height: 200px !important;
    }

    .orgagroup, .orgahead, .orgaem, .orgab {
        display: block !important;
        text-align: left !important;
        font-size: 18px !important;
    }

    .orgab {
        margin: 10px 0px !important;
    }

    .orgaem {
        margin: 10px 0px !important;
        font-size: 25px !important;
        text-align: left !important;
    }

    .osr {
        font-size: 25px !important;
    }
}