@media only screen and (max-width: 500px) {

    /* SITE */

    header {
        font-size: 20px;
        display: block !important;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .mainpagearticle {
        text-align: center;
    }

    .mpahead {
        font-size: 20px;
    }

    .ihead {
        margin: 0px 10px;
        font-size: 25px;
    }

    .itxt {
        font-size: 14px;
        text-align: center !important;
        padding: 30px 15px !important;
    }

    /* KEK */

    .desktop_flex {
        display: block !important;
    }

    .mobile-center {
        text-align: center !important;
    }

    .desktop_only {
        display: none !important;
    }

    .mobile-left {
        text-align: left !important;
    }

    /* THIS REQUIRES OPTIMIZATION!! */

    .newestprojects::-webkit-scrollbar {
        display: none;
    }

    .emnews {
        font-size: 20px;
    }

    .abouttext {
        text-align: left !important;
        font-size: 14px !important;
    }

    .articles {
        display: block !important;
    }

    .article {
        text-align: center;
        margin: 30px 0px !important;
    }

    .newestprojects {
        margin: 30px 0px !important;
    }

    .abtxt {
        font-size: 16px !important; 
        padding: 20px !important;
    }

    .ccontainer {
        margin: 100px 30px !important;
    }

    /* --------------- GRAPH ------------------- */

    .graphs {
        text-align: center !important;
        display: block !important;
        margin: 50px 0 !important;
    }

    .graph {
        padding: 15px 30px !important;
        border-radius: 0% !important;
        width: auto !important;
        max-width: unset !important;
    }

    .red-graph, .green-graph, .blue-graph, .yellow-graph {
        background: none !important;
    }

    .numbergraph {
        font-size: 35px !important;
    }

    .graphtitle {
        font-size: 16px !important;
        border-bottom: 2px solid;
        padding-bottom: 20px;
        margin: 0 40px !important;
    }

    .red-graph {
        color: #fc7272 !important;
    }

    .blue-graph {
        color: #72d5fc !important;
    }

    .yellow-graph {
        color: #f7f25e !important;
    }

    .green-graph {
        color: #73fa8c !important;
    }

    /* ------------------------------------ */

    .cutxt {
        padding-top: 100px;
        font-size: 30px !important;
    }

    .cuimg {
        margin: 0px 10px !important;
        height: 80px !important;
    }

    .carrierhead {
        padding-top: 50px;
        font-size: 30px !important;
    }

    .container {
        margin: 100px 20px;
    }

    .newstext, .efv-news-smoll-italic {
        font-size: 14px;
    }

    .projhref {
        height: 100px !important;
        border-radius: 5px !important;
        margin: 5px 5px !important;
    }

    .posterhref, .moreposter {
        height: 250px !important;
    }

    .napic {
        height: 100px !important;
    }

    .projectsitehead {
        font-size: 25px !important;
    }

    .emrsitehead {
        font-size: 20px;
    }

    .copyright {
        font-family: "Montserrat" !important;
        font-size: 12px !important;
    }

    .orgastruct {
        height: 200px !important;
    }

    .orgagroup, .orgahead, .orgaem, .orgab {
        display: block !important;
        text-align: left !important;
        font-size: 17px !important;
    }

    .orgahead {
        margin: 30px 0 10px 0 !important;
        font-size: 20px !important;
    }

    .orgab {
        margin: 10px 0px !important;
    }

    .orgaem {
        margin: 10px 0px !important;
        font-size: 25px !important;
        text-align: left !important;
    }

    .osr {
        font-size: 25px !important;
    }

    .yticonart {
        margin-right: 0px !important;
    }

    .mpahead, .yticonart {
        text-align: center !important;
        font-size: 20px !important;
    }

    .emrsoundproviderNCS, .emrsoundproviderSR, .emrsoundproviderEMM {
        font-size: 30px !important;
    }

    .nptxt {
        margin: 30px !important;
        font-size: 20px !important;
    }

    .opening {
        flex-direction: column !important;
    }

    .openprops {
        line-height: 1.5;
    }

    .openname {
        margin-left: 0rem !important;
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .emrschedule2023 {
        height: 200px !important;
    }

    .mklogos {
        display: block !important;
        text-align: left !important;
    }

    .mkem1 {
        height: 80px !important;
        margin: 20px 10px !important;
    }

    .mkhead {
        font-size: 30px !important;
    }

    .mkcontainer {
        margin: 120px 40px !important;
    }

    .mklinkshref {
        text-align: center !important;
    }

    .imprintdata {
        font-size: 14px !important;
    }

    .emrcontainer {
        margin: 100px 15px !important;
    }

    .mpaheadtext {
        margin-bottom: 15px;
    }

    .footersocial {
        height: 25px;
    }

    /*------------------[Career Card]-------------------*/

    .carrierhead-card {
        padding: 10px !important;
    }

    .carrierheader {
        padding-top: 250px !important;
    }

    .carrier-head-card-title {
        font-size: 30px !important;
        margin: 10px;
    }
    
    .carrier-head-card-text {
        margin: 10px;
        width: auto !important;
    }

    .carrier-jobs-btn {
        margin: 10px;
        margin-top: 50px !important;
    }
}