.txt {
  padding: 0px 50px;
  font-size: 20px;
  font-family: 'Roboto';
  margin-bottom: 40px;
}

.networkheader {
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
}

.pgs {
  padding: 20px 0px;
  display: flex;
}

.pg {
  flex: 1;
  text-align: center;
  color: white;
}

.pgname {
  padding: 10px 0px;
  font-size: 30px;
  color: black;
}

.pgviewhl {
  color: blue;
}

.pgviewhl:visited {
  color: blue;
}