.currentproject {
  padding: 20px 0px;
  background-color: #0c131c;
}

.projecthead {
  padding: 0px 100px;
  font-size: 35px;
  color: white;
}

.projecthead2 {
  padding: 0px 100px;
  font-size: 50px;
  color: white;
}

.txt {
  padding: 0px 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

.txthl {
  color: blue;
}

.txthl:visited {
  color: blue;
}