/*
    style.css | the stylesheet for everything in the site
    Copyright Entertainmasters & Copy05 2017 - 2023
*/

@font-face {
    font-family: "Entertainmasters-Sans";
    src: url('./fonts/EM-SANS.ttf');
}

@font-face {
    font-family: "Oswalt";
    src: url('./fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: "Product-Sans";
    src: url('./fonts/Product\ Sans\ Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "EGM-WhiteNT";
    src: url('./fonts/White_NT.otf');
}

@font-face {
    font-family: "EGM-Akira";
    src: url('./fonts/Akira\ Expanded\ Demo.otf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "DancingScript";
    src: url('./fonts/DancingScript-Regular.ttf');
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%; 
}

body {
    background: rgb(30, 30, 30);
}

li > a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Montserrat";
}

header > li, a {
    list-style: none;
    text-decoration: none;
    transition: 0.1s;
}

header {
    z-index: 100;
    top: 0;
    backdrop-filter: blur(7px);
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(45,45,45, 0.6);
    padding: 15px 10%;
}

.logo, .logo:visited {
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s;
}

.logo:hover {
    opacity: 50%;
}

a:hover {
    opacity: 70%;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
  
footer {
    background-color: rgb(45,45,45);
}

em-fixedheader-fix {
    margin: 60px 0px;
}

/*
ScrollBars
*/

::-webkit-scrollbar {
    background: #00060f;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4d4d4d;
}

/*
GLOBAL CSS - KEK
*/

/* See: https://github.com/AgesoftOSS/KEK for the whole CSS Framework */

.pad-y-4 {
    padding-bottom: 1.875rem !important;
    padding-top: 1.875rem !important;
}

.text_white {
    color: white !important;
}

.font_emsans {
    font-family: "Entertainmasters-Sans" !important;
}

.font_center {
    text-align: center !important;
}

.flex {
    display: flex !important;
}

.desktop_flex {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/*
GLOBAL CSS
*/

.mpahead, a, a:visited, header, .logo, .logo:visited, .readarticle, .centerhead, .copyright, .graph, .client1, .client2, .client3, .graphs, 
.clients, footer, .itxt, .ihead, .nptxt, .brand1, .brand2, .brand3, .brand4, .brand5, .articlehead, .aboutsec {
    color: white;
}

.itxt, .centerhead, .ihead, .nptxt, .abtxt {
    font-family: "Roboto";
}

header, .mainpagearticle, .graphs, .socials, .clients, .footsections, .brands, .articles {
    display: flex;
}

.logo, .mpahead, .logo, .copyright, .centerhead-nr, .articlehead, .aboutsec, .centerhead {
    font-family: "Entertainmasters-Sans";
}

.copyright, .socials, .footsections, .centerhead, .graphs, .clients, .ihead, .itxt, .brands, .articlehead {
    text-align: center;
}

.centre {
    text-align: center;
}

/*
START OF THE CONTAINER OF INDEX.HTML
*/

.abtxt {
    color: white;
    font-size: 18px;
    font-family: "Roboto";
    text-align: left;
    padding: 20px 50px;
}

.aboutsec {
    font-size: 40px;
}

.ccontainer {
    margin: 100px 100px;
}

.abouthead, .abouttext {
    text-align: left;
    padding: 30px 0px !important;
}

.copyrc {
    font-family: "Roboto";
    color: white;
}

.crlastupdated {
    margin-bottom: 80px;
}

.crhead2 {
    margin-top: 45px;
    margin-bottom: 20px;
}

.newestprojects {
    padding: 20px;
    margin: 30px 50px;
    margin-bottom: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.nptxt {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.projhed {
    font-family: "Entertainmasters-Sans";
    font-weight: normal;
}

.projectsitehead {
    font-family: "Entertainmasters-Sans";
    color: white;
    text-align: center;
    margin: 0px 50px;
    font-size: 50px;
}

.showicon {
    height: 150px !important;
}

.projhref {
    transition: 0.2s;
    height: 235px;
    border-radius: 15px;
    margin: 5px 10px;
}

.projhref:hover {
    border-radius: 30px;
    opacity: 80%;
    transform: scale(1.05);
}

.newestprojects > a:hover {
    opacity: 50%;
}

.newestprojects > a {
    transition: 0.3s;
}

.napic, .moreposter {
    height: 350px;
}

.moreposter {
    margin-left: 30px;
    transition: 0.1s;
}

.moreposter:hover {
    opacity: 70%;
    transform: scale(1.05);
}

.iconhref {
    transition: 0.1s;
    margin: 5px 5px;
}

.iconhref:hover {
    opacity: 50%;
    transform: scale(1.05);
}

.ihead {
    font-size: 40px;
}

.mainpagearticle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./src/ImprovityXNews.png');
    padding: 400px 0px 0px 0px;
    margin-bottom: 50px;
}

.abhead {
    background-image: url('./src/filmproduction-eeeaad.jpg');
}

.projectpagearticle {
    background-image: url('./src/thumbs/11.png');
}

.emrpageheader {
    background-image: url("./src/thumbs/EMR2022.png");
}

.emrindpageheader {
    background-image: url("./src/Fireworks.gif");
}

.efv-label {
    margin-left: 20px;
    font-family: "EGM-WhiteNT";
}

.yticonart {
    height: 70px;
    margin-right: 50px;
}

.blurart {
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    backdrop-filter: blur(6px);
}

.mpahead {
    padding: 20px 45px;
    font-size: 35px;
}

.readarticle {
    transition: 0.3s;
    font-family: "Montserrat";
    font-size: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 69px;
    padding: 10px 40px;
    background: #1f75ff;
    transition: 0.1s;
}

.readarticle:hover {
    opacity: 80%;
}

.watchvideo:hover {
    background: rgb(15,15,15);
    border-color: rgb(100,100,100);
}

.watchvideo {
    background: rgb(35,35,55) !important;
    transition: 0.1s;
    background: transparent;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
    border-radius: 69px;
    padding: 10px 20px;
    border: 2.7px solid rgb(70,70,70);
}

.centerhead {
    font-size: 35px;
    margin: 30px 0px;
}

.itxt {
    padding: 30px 80px;
    margin-bottom: 30px;
}

.copyright {
    margin: 20px 0px;
    font-size: 18px;
}

.graphs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.clients, .brands {
    padding: 20px 0px;
}

.graph {
    padding: 80px;
    border-radius: 50%;
    width: 300px;
}

.red-graph {
    background: linear-gradient(90deg, rgba(255,98,98,1) 0%, rgba(196,59,147,1) 100%);
    color: darkred;
}

.blue-graph {
    background: linear-gradient(90deg, rgba(0,104,255,1) 0%, rgba(128,222,255,1) 100%);
    color: darkblue;
}

.green-graph {
    background: linear-gradient(90deg, rgba(0,255,136,1) 0%, rgba(39,134,145,1) 100%);
    color: darkslategrey;
}

.yellow-graph {
    background: linear-gradient(90deg, rgba(255,211,98,1) 0%, rgba(177,196,59,1) 100%);
    color: #543f09;
}

.numbergraph {
    font-family: "Montserrat";
    font-size: 80px;
}

.graphtitle {
    font-size: 18px;
    font-family: "Montserrat";
}
  
.client1, .client2, .client3, .brand1, .brand2, .brand3, .brand4, .brand5 {
    flex: 1;
    font-family: "Product-Sans";
}

.brands {
    font-size: 30px;
}

.brand1, .brand2, .brand5 {
    font-family: "EGM-Akira";
}

.brand2 {
    font-size: 25px;
}

.clients {
    font-size: 30px;
}

.client1 {
    font-size: 35px;
    font-family: "EGM-WhiteNT";
    transition: 1s;
}

.client1:hover {
    content: "P.X";
    color: black;
    font-size: 45px;
}

.client2 {
    transition: 1s;
    font-family: "Roboto";
}

.smollc2 {
    font-size: 12px;
}

.client2:hover {
    color: steelblue;
}

/*
END OF THE CONTAINER OF INDEX.HTML
*/

.footsections {
    margin: 0px 100px;
}

.footsec, .sociallink {
    flex: 1;
}

.feetsec {
    color: rgb(210,210,210);
    margin-top: 20px;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.footlink, .sociallink {
    font-family: "Roboto";
    font-size: 14px;
    text-decoration: none;
}

.sociallink {
    font-size: 16px;
    margin-bottom: 15px;
}

.article {
    margin: 0px 10px;
}

.articlehead {
    font-size: 25px;
}

.articleimg {
    margin-bottom: 10px;
    width: 300px;
}

.efv-label-n {
    font-family: "EGM-Akira";
}

/*
CARRIER STYLE
*/

.carrierhead {
    font-family: "Entertainmasters-Sans";
    margin-bottom: 30px;
    color: white;
    font-size: 50px;
}

.carriertext {
    margin-bottom: 80px;
    font-family: "Roboto";
    color: white;
    font-size: 16px;
}

.openings {
    padding: 1.5rem;
}

.opening {
    display: flex;
    padding: 1.53rem 0px;
    margin: 15px 0px;
    border-bottom: 1px solid #434549 !important;
    border-bottom-color: rgb(117, 109, 96) !important;
}

.opensec {
    font-family: "Roboto";
    color: white;  
    font-size: 20px;
    padding: 30px 0px;
}

.openname {
    margin-left: 1.5rem;
    width: 50%;
    font-family: "Roboto";
    color: white;
    font-size: 16px;
}

.openprops {
    width: 50%;
}

.openprop {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

.openpropimg {
    margin: 0px 10px;
    height: 20px;
}

.cutxt {
    text-align: center;
    font-family: "Entertainmasters-Sans";
    margin-bottom: 20px;
    color: white;
    font-size: 70px;
}

.cumeds {
    text-align: center;
}

.cuimg {
    margin: 0px 100px;
    height: 200px;
}

.impresshead {
    font-size: 60px;
    font-family: "Entertainmasters-Sans";
    margin-bottom: 100px;
}

.lthead {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Entertainmasters-Sans";
    margin-bottom: 30px;
}

.latesttweet, .latesttweet > a, .latesttweet > a:visited {
    color: transparent;
    text-align: center;
}

.dochref, .dochref:visited {
    color: #2fa7f7;
}

.orgastruct {
    height: 580px;
    text-align: center;
    margin: 40px 0px;
}

.orgahead, .orgagroup {
    color: white;
    text-align: center;
    font-family: "Entertainmasters-Sans";
    font-size: 30px;
}

.orgahead {
    margin: 30px 0px;
    font-family: "Montserrat";
}

.orgagroup > p {
    display: inline;
    margin: 30px 50px;
}

.orgab {
    font-size: 25px;
}

.orgagroup > .osr {
    font-size: 35px;
    font-family: "DancingScript";
}

.orgagroup > .oegm {
    font-family: "EGM-Akira";
    font-size: 40px;
}

.orgagroup > .oas {
    font-family: "Product-Sans";
}

.orgagroup > .oemm {
    font-family: "Montserrat";
}

.orgagroup > .oix {
    font-family: "EGM-Akira";
}

.orgaem {
    font-size: 42px;
}

.emrsoundproviderNCS, .emrsoundproviderSR, .emrsoundproviderEMM {
    margin-top: 20px;
    font-size: 45px;
    color: white;
}

.emrsoundproviderNCS {
    font-family: "Montserrat";
}

.emrsoundproviderSR {
    font-family: "DancingScript";
}

.emrsoundproviderEMM {
    font-family: "Entertainmasters-Sans";
}

.impressdata_bold {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.emsans-label-n {
    font-weight: normal;
    font-family: "Entertainmasters-Sans";
}
