@font-face {
    font-family: "Entertainmasters-Sans";
    src: url('../fonts/EM-SANS.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "EGM-WhiteNT";
    src: url('../fonts/White_NT.otf');
}

@font-face {
    font-family: "EGM-Akira";
    src: url('../fonts/Akira\ Expanded\ Demo.otf');
}

.container {
    margin: 100px 100px;
}

.emnews, .newsheader {
    color: white;
    font-family: "Entertainmasters-Sans";
}

.emnews {
    font-size: 22px;
}

.newsheader {
    margin: 50px 0px;
    margin-top: 80px;
    font-size: 50px;
}

.newsdate {
    font-family: "Roboto";
    font-size: 16px;
}

.efv-label-n {
    font-family: "EGM-Akira";
}

.newstext {
    font-size: 16px;
    font-family: "Roboto";
    color: white;
    margin-bottom: 40px;
}

.newshref, .newshref:visited {
    color: #77BFBF;
}

.efv-news-smoll-italic {
    font-style: italic;
    font-size: 14px;
}

.centre {
    text-align: center;
}

.vision2024 {
    height: 600px;
}

@media only screen and (max-width: 500px) {
    .vision2024 {
        height: 200px;
    }
}