.carriercontainer {
    padding: 100px 80px;
}

.carriertitle {
    font-family: "Entertainmasters-Sans";
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.carrierdesc {
    color: white;
    font-family: "Roboto";
}

.carrierpart {
    font-size: 20px;
    margin: 20px 0px;
    color: white;
    font-family: "Montserrat";
}

.clpoint {
    font-family: "Roboto";
    color: white;
}

.carrierlist {
    margin-bottom: 50px;
}

.j-openpropimg {
    height: 16px;
    margin-right: 5px;
}

.j-openprop {
    display: inline-block;
    margin: 0 20px 5px 0;
    font-family: "Roboto";
    color: white;
}

.jobpropeties {
    margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
    .carriercontainer {
        padding: 130px 20px !important;
    }

    .carrerapply {
        font-size: 14px;
    }

}